/* Leaderboard */
.leaderboard {
  font-size: 24px;
  letter-spacing: 2px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid darkgrey;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.leaderboard-card {
  display: flex;
  height: 140px;
  font-weight: bold;
  font-size: 20px;
  text-transform: lowercase;
  letter-spacing: 1px;
  padding: 25px 20px 50px 0;

  &__body {
    width: 60%;

    &__username {
      height: 30%;
      display: flex;
      align-items: center;
      padding-left: 10%;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 10px;
    }

    &__question-totals {
      height: 70%;
      display: flex;
      flex-direction: column;

      li {
        flex: 1;
        text-align: left;
        padding-left: 10%;
        position: relative;
        display: flex;
        align-items: center;
        font-size: 18px;

        &:first-child {
          margin-bottom: 20px;

          &:after {
            content: "";
            box-shadow: inset 1px 0px 1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #728ee9,
              0 0 0vw 0.4vw #210be5, 0 0 3vw 1.4vw #210be5,
              inset 0 0 0.4vw 0.2vw #728ee9, inset 0 0 0.5vw 0.2vw #ffffff;
            opacity: 0.7;
            width: 80%;
            position: absolute;
            left: 50%;
            height: 2px;
            bottom: -20px;
            border-radius: 6px;
            transform: translate(-50%, 0px);
            z-index: -1;
          }
        }

        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }

  &__avatar {
    position: relative;
    width: 25%;

    img {
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }

  &__score {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    word-spacing: 100px;

    span {
      border: 1px solid #e6ca3a;
      border-radius: 510px;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
    }
  }
}
