/* card */
.card {
  width: 80%;
  margin: 75px auto;

  &__title {
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 1px;
      box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
      0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
      inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
    }

    &__text {
      height: 65px;
      margin: 0 0 0 40px;
      font-size: 20px;
      display: flex;
      justify-content: left;
      align-content: center;
      flex-wrap: wrap;
    }
  }

  &__body {
    display: flex;
    border-top-left-radius: 0;
    &__avatar {
      position: relative;
      width: 30%;

      img {
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
      }
    }

    &__info {
      width: 69%;
      position: relative;
      padding-bottom: 40px;
      &:after {
        content: "";
        position: absolute;
        width: 2px;
        left: 0;
        bottom: 0;
        height: 100%;
        box-shadow: inset 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.2vw #e97272,
        0 0 0vw 0vw #e50b0b, 0 0 1.5vw 0.4vw #e50b0b, inset 0 0 0.4vw 0.2vw #e97272,
        inset 0 0 0.5vw 0.2vw #fff7f7;
        z-index: -1;
      }
    }
  }

  /* card preview */
  &__preview {
    p {
      color: white;
      letter-spacing: 3px;
    }
  }

  /* card answers */
  &__answers {
    &__list{
      width: 80%;
      margin: 0 auto 25px;
    }
    li {
      input {
        width: 20px;
      }
      label {
        display: inline-block;
        text-align: left;
        letter-spacing: 2px;
        margin-left: 20px;
        width: 85%;
        margin-bottom: 20px;
      }
    }
    button {
      background: transparent;
      border: none;
      width: 33%;
      margin: 0 auto;
      display: block;
      font-family: "starwars-big", sans-serif;
      padding: 25px;
    }
  }
}
