@font-face {
  font-family: "starwars-big";
  src: local("starwars-big"),
    url("./font/star-jedi/Starjhol.ttf") format("truetype");
}

@font-face {
  font-family: "starwars";
  src: local("starwars"),
  url("./font/STARWARS/STARWARS.TTF") format("truetype");
}
