@font-face {
  font-family: "starwars-big";
  src: url(~/font/star-jedi/Starjhol.ttf) format("truetype");
}

@font-face {
  font-family: "starwars";
  src: url(~/font/STARWARS/starwars.ttf) format("truetype");
}
