/* Neon border */

.neon-wrapper-red {
  box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
  0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
  inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  border-radius: 1.5rem;
}

.neon-wrapper-blue {
  box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #728ee9,
  0 0 4vw 0.4vw #210be5, inset 0 0 1.5vw 0.4vw #210be5,
  inset 0 0 0.4vw 0.2vw #728ee9, inset 0 0 0.5vw 0.2vw #fff7f7;
  border-radius: 1.5rem;
}

.neon-wrapper-green {
  box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #72e97a,
  0 0 4vw 0.4vw #0be524, inset 0 0 1.5vw 0.4vw #0be524,
  inset 0 0 0.4vw 0.2vw #72e97a, inset 0 0 0.5vw 0.2vw #fff7f7;
  border-radius: 1.5rem;
}


/* utils */
.float-left {
  float: left;
}

.circle-image {
  border-radius: 100px;
}

.avatar-small {
  width: 60px;
  height: 60px;
}

.avatar-medium {
  width: 100px;
  height: 100px;
}

.answer {
  background: #151715;
  color: white;
}
