/* general */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "starwars-big", sans-serif;
  background: url("http://www.ultradrive.com/images/rdx_starfield.jpg");
  color: $yellow;
  letter-spacing: 1px;
}

h1,
h2 {
  font-family: "starwars-big", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App {
  padding-bottom: 100px;
  text-align: center;
}







