/* Login.jsx */
.login-title {
  font-size: 2em;
  letter-spacing: 2.5px;
  text-align: center;
}

.login-container {
  width: 40%;
  margin: 0 auto;
  padding: 10px;

  li {
    display: flex;
    padding: 10px 5px;
    font-family: "starwars-big", sans-serif;

    p {
      flex: 1;
      margin: 7px 0;
      text-align: center;
      font-size: 24px;
      letter-spacing: 2px;
    }
  }
}
