/* general */
@font-face {
  font-family: "starwars-big";
  src: local("starwars-big"),
    url("./font/star-jedi/Starjhol.ttf") format("truetype");
}

@font-face {
  font-family: "starwars";
  src: local("starwars"),
    url("./font/STARWARS/STARWARS.TTF") format("truetype");
}

.neon-wrapper-red {
  box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
    0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
    inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  border-radius: 1.5rem;
}

.neon-wrapper-blue {
  box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #728ee9,
    0 0 4vw 0.4vw #210be5, inset 0 0 1.5vw 0.4vw #210be5,
    inset 0 0 0.4vw 0.2vw #728ee9, inset 0 0 0.5vw 0.2vw #fff7f7;
  border-radius: 1.5rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "starwars", sans-serif;
  background: url("http://www.ultradrive.com/images/rdx_starfield.jpg");
  color: #e6ca3a;
}

h1,
h2 {
  font-family: "starwars-big", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* utils */
.float-left {
  float: left;
}

.circle-image {
  border-radius: 100px;
}

.avatar-small {
  width: 60px;
  height: 60px;
}

.avatar-medium {
  width: 100px;
  height: 100px;
}

.answer {
  background: darkseagreen;
  border-color: #2e7d32;
}

/* Header.jsx */
header {
  margin-bottom: 75px;
  height: 50px;
  border-bottom: 2px solid green;
  display: flex;
}

nav {
  width: 65%;
}

nav ul {
  display: flex;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

nav li {
  flex: 1 1 0;
  position: relative;
}

nav li a {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
}

nav li a.active,
nav li a:hover {
  color: white;
}

nav li a.active:after,
nav li a:hover:after {
  content: "";
  border-bottom: 2.5em solid green;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 80%;
  position: absolute;
  bottom: 0;
  z-index: -2;
}

.user-info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.user-info img {
  margin: 0 5%;
}
.user-info button {
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* Login.jsx */

.login-title {
  font-size: 2em;
  letter-spacing: 2.5px;
  text-align: center;
}

.login-container {
  width: 40%;
  margin: 0 auto;
  padding: 10px;
}

.login-container li {
  display: flex;
  padding: 10px 5px;
  font-family: "starwars-big", sans-serif;
}

.login-container p {
  margin: 7px 0;
  flex: 1;
  justify-content: center;
  align-content: center;
  font-size: 24px;
  letter-spacing: 2px;
}

/* dashboard */
.leaderboard,
.dashboard {
  width: 80%;
  margin: 0 auto;
  border: 1px solid darkgrey;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dashboard__nav {
  border-bottom: 1px solid darkgrey;
}

.dashboard__nav ul {
  height: 65px;
  display: flex;
}

.dashboard__nav li {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  letter-spacing: 2px;
  font-family: "starwars-big", sans-serif;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dashboard__nav li:first-child {
border-top-left-radius: 1.5rem;
}

.dashboard__nav li:last-child {
  border-top-right-radius: 1.5rem;
}

.dashboard__nav li.active {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 1px 1px 5px #fff,
    -1px 4px 20px 0px blue, 0px 15px 20px blue;
  font-size: 20px;
}

/* card */

.card {
  width: 80%;
  border: 1px solid gray;
  margin: 20px auto;
}

.card__title {
  font-family: "starwars-big", sans-serif;
}

.card__body {
  border-top: 1px solid gray;
  display: flex;
}

.card__body__avatar {
  position: relative;
  width: 30%;
}

.card__body__avatar img {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.card__body__info {
  width: 69%;
  border-left: 1px solid gray;
}

.card_answer_result__percentage {
  height: 25px;
  border: 2px solid gray;
  width: 80%;
  margin: 10px auto;
  border-radius: 8px;
  overflow: hidden;
  background: lightgray;
  line-height: 25px;
  position: relative;
}

.card_answer_result__percentage span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_answer_result {
  border: 2px solid;
  width: 85%;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;
}

.card_answer_result__percentage div {
  background-color: #60ac5d;
  height: inherit;
}

.badge {
  position: absolute;
  width: 50px;
  height: 50px;
  background: black;
  border: 1px solid #e6ca3a;
  border-radius: 50px;
  overflow: hidden;
  top: -16px;
  right: -19px;
  color: white;
  transform: rotate(24deg);
  display: flex;
  align-items: center;
}

/* Leaderboard */
.leaderboard-card {
  display: flex;
  height: 140px;
}

.leaderboard-card__body {
  width: 60%;
}

.leaderboard-card__avatar {
  position: relative;
  width: 25%;
}

.leaderboard-card__avatar img {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.leaderboard-card__body__username {
  height: 30%;
  display: flex;
  align-items: center;
  padding-left: 10%;
  font-weight: bold;
  font-size: 20px;
}

.leaderboard-card__body__question-totals {
  height: 70%;
  display: flex;
  flex-direction: column;
}

.leaderboard-card__body__question-totals li {
  flex: 1;
  text-align: left;
  padding-left: 10%;
  position: relative;
  display: flex;
  align-items: center;
}

.leaderboard-card__body__question-totals li:first-child:after {
  content: "";
  border-bottom: 1px solid gray;
  opacity: 0.7;
  width: 80%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0px);
}

.leaderboard-card__score {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* New question */
.new-question {
  width: 50%;
  margin: 0 auto;
  border: 1px solid grey;
}

.new-question__body {
  padding: 20px;
  text-align: left;
  border-top: 1px solid grey;
}

.new-question__body__meta {
  margin: 10px 0;
}

.new-question__body form input {
  display: block;
  margin: 5px 0;
  width: 100%;
  height: 25px;
  border-radius: 2px;
  border: 1px solid grey;
}

.new-question__body form button {
  margin-top: 15px;
  width: 100%;
  height: 30px;
  background: green;
  border-radius: 3px;
  cursor: pointer;
}
