/* general */

html,body {
  height:100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

/* utils */
.float-left{
  float: left;
}

.avatar-small {
  width: 40px;
  height: 40px;
}

.avatar-medium {
  width: 100px;
  height: 100px;
}

.answer {
  background: darkseagreen;
  border-color: #2e7d32;
}

/* Header.jsx */
header {
  margin-bottom: 75px;
  height: 50px;
  border-bottom: 2px solid green;
  display: flex;
}

nav{
  width: 65%;
}

nav ul {
  display: flex;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

nav li {
  flex: 1 1 0;
  position: relative;
}

nav li a {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
}

nav li a.active,
nav li a:hover {
  color: white;
}

nav li a.active:after,
nav li a:hover:after {
  content: '';
  border-bottom: 2.5em solid green;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px;
  position: absolute;
  bottom: 0;
  z-index: -2;
}

.user-info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.user-info img {
  margin: 0 5%;
}
.user-info button {
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* Login.jsx */
.login-container {
  width: 35%;
  margin: 0 auto;
  border: 1px solid;
}

.login-container li {
  border: 1px solid red;
}
.login-container p {
  margin: 7px 0;
}

/* dashboard */

.dashboard {
  width: 80%;
  margin: 0 auto;
  border: 1px solid darkgrey;
}

.dashboard__nav {
  border-bottom: 1px solid darkgrey;
}

.dashboard__nav ul{
 height: 50px;
}

.dashboard__nav li {
  display: inline-block;
  width: 50%;
  text-align: center;
  height: 100%;
  vertical-align: middle;
}

.dashboard__nav li.active{
  background-color: darkgray;
}


/* card */

.card {
  width: 80%;
  border: 1px solid gray;
  margin: 20px auto;
}

.card__body{
  border-top: 1px solid gray;
  display: flex;
}

.card__body__avatar {
  position: relative;
  width: 30%;
}

.card__body__avatar img{
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.card__body__info {
  width: 69%;
  border-left: 1px solid gray;
}

.card_answer_result__percentage {
  height: 25px;
  border: 2px solid gray;
  width: 80%;
  margin: 10px auto;
  border-radius: 8px;
  overflow: hidden;
  background: lightgray;
  line-height: 25px;
  position: relative;
}

.card_answer_result__percentage  span{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_answer_result {
  border: 2px solid;
  width: 85%;
  margin: 20px auto;
  border-radius: 10px;
}

.card_answer_result__percentage div {
  background-color: #60ac5d;
  height: inherit;
}



